/* Rodapé */
#foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    padding: 20px;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
}

.about {
    flex: 3;
    display: flex;
    align-items: center;
}

#foot p {
    color: white;
    margin-left: 40px;
}

.socialmedia {
    display: flex;
    margin-right: 5%;
    gap: 20px;
    align-items: center;
}

.foot_icons:hover{
    transition: 0.5s;
    transform: scale(1.3);
}

.foot_icons {
    width: 54px;
}  