@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
html, body {
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

@keyframes rotateBackground {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

/* Template da pagina */

.content {
    width: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(150deg, rgba(12,245,116,1) 10%, rgba(199,125,255,1) 50%, rgba(123,44,191,1) 80%);
    background-size: 200% 200%;
    animation: rotateBackground 10s ease-in-out infinite;
    opacity: 1;
    background-repeat: no-repeat;
    background-position:
    top right,
    bottom left;
}

#container_about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#dashboard{
    display: flex;
    height: 126px;
    width: auto;
    position: relative;
}

.menu{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#imgholder {
  flex: 2;
}
  
.logo{
  height: 100px;
}

.button{
  text-decoration: none;
  margin: 35px 0;
  padding: 10px 40px;
  line-height: 40px;
  border-radius: 20px;
  color: rgb(255, 231, 231);
  font-weight: 700;
  text-align: center;
  font-size: 1.4rem;
  font-family: "Saira", sans-serif;
}

.button:hover{
  color: rgba(12,245,116,1);
  font-size: 2rem;
  transition: 0.2s ease;
}

#arrow{
  margin-top: 5px;
  margin-right: 10px;
}

#register{
  flex: 2;
  display: flex;
  justify-content: right;
}

#foot {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  padding: 20px;
  width: 100%;
  flex-direction: row;
  background-color: rgba(0,0,0,0.1)
}

.about{
  flex: 3;
  display: flex;
  justify-content: left;
  flex-direction: row;
  align-items: center;
  }

#foot p{
  font-family: "Saira", sans-serif;
  color: white;
  margin-left: 40px;
}

.foot_icons{
  width: 54px;
  padding: 0 30px;
  align-self: center;
}

.socialmedia{
display: flex;
margin-right: 5%;
justify-content: space-between;
flex-direction: row;
align-items: center;
}

/* fim do template */

/* conteudo about */

.container {
  width: 70%;
  align-self: center;
}

.container p{
    font-size: 24px;
    color: white;
    font-family: "Saira", sans-serif;
}

.container h1{
    font-size: 96px;
    color: white;
    font-family: "Saira", sans-serif;
}

/* conteudo register */


/* pagina de games */
.container-card {
    height: 1400px;
    width: 1920px;
}

.card {
    position: relative;
    height: 421px;
    width: 536px;
    overflow: hidden;
    background-color: grey;
    margin-left: 40px;
    margin-top: 100px;
    margin-right: 40px;
    float: left;
}

/* fim pagina de games */