/* Conteúdo "About" */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 80%;
    min-height: 100vh;
    margin: auto;
    padding: 0;
}
/* titulo da página */

h1{
    text-align: center;
}

.avatars img {
    width: 40%;
    padding: 1rem 0;
}

@media(max-width:1000px) {
    .avatars {
        display: flex;
        justify-content: center;
    }

    .avatars img {
        width: 80%;
    }

    h1 {
        padding: 20px 0px;
    }
}