/* div do rodapé */
#foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
}

/* div que contém todos os itens */
.about {
    flex: 3;
    display: flex;
    align-items: center;
}

/* texto de copyright */
#foot p {
    font-size: 3vmin;
    color: white;
    margin-left: 10px;
}
/* div dos icones de redes sociais */
.socialmedia {
    display: flex;
    margin-right: 5%;
    gap: 20px;
    align-items: center;
}

/*tamanho dos icones*/
.foot_icons {
    width: 8vh;
}  
/* animação dos icones */
.foot_icons:hover{
    transition: 0.5s;
    transform: scale(1.3);
}

@media (max-width: 750px){
    .foot_icons {
        width: 5vh;
    }  
}