/* Primeiro container */
.container {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* div video do jogo com borda */
.video-container {
    min-width: 25%;
    height: 90vh;
    /* removi para tirar o excesso de informção */
    /* border: 10px solid transparent;
    border-image: linear-gradient(to left, rgba(12, 245, 116, 1), rgba(123, 44, 191, 1)) 1; */
}

/* frame do video */
.video-container video {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

/* texto de chamada */
.text-container {
    width: 50%;
}

/* titulo da pagina */
.text-container h1 {
    font-size: 8vmin;
    text-align: center;
    color: white;
}

/* subtitulo */
.text-container h2 {
    font-size: 4vmin;
    text-align: center;
    color: white;
}

/* fim do primeiro container */

/* info game */

.info-game {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(30, 30, 30, 0.99);
}

/* texto sobre o jogo */
.info-text {
    font-size: 2.5vmin;
    font-weight: 700;
    padding: 1.5rem;
    color: white;
    width: 80%;
}

/* imagem do jogo */
.img-game img {
    padding: 1.5rem;
    height: 80vh;
}

/* fim das informações */

/* mais jogos */
.more-games {
    background-color: rgba(30, 30, 30, 0.99);
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding-bottom: 50px;
}

/* subtitulo da sessão */
.more-games h2 {
    color: white;
    font-size: 8vmin;
    margin: 5vmin;
}

/* Container para cada imagem */
.more-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* imagem dos jogos */
.more-container img {
    width: 40%;
    padding: 1.5rem;
    border-radius: 15px;
}

.more-container h3 {
    color: white;
    padding: 1.5rem;
    font-size: 3vmin;
}

@media(max-width: 1000px) {
    .container {
        height: auto;
        display: flex;
        flex-direction: column;
    }

    /* div video do jogo */
    .video-container {
        width: 80%;
        height: auto;
    }

    /* ajuste div de texto primeiro container */
    .text-container {
        width: 90%;
    }

    .info-game {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: flex;
        height: auto;
    }

    .img-game {
        display: flex;
        justify-content: center;
    }

    .img-game img {
        width: 80%;
        height: auto;
    }

    .more-container{
        flex-direction: column;
    }

    .more-container img{
        width: 80%;
    }
}