/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

/* Global settings */

/* Reset global */
html,
body {
  font-size: 10px;
  margin: 0;
  padding: 0;
  font-family: "Saira", sans-serif;
}

/* Global colors */

.backgroundEffect {
  min-width: 100%;
  background: rgb(12, 245, 116);
  background: linear-gradient(153deg, rgba(12, 245, 116, 1) 18%, rgba(123, 44, 191, 1) 69%);
}

.background {
  min-width: 100%;
  background-color: #222;
}

/* text padronization */

h1 {
  font-size: 4.8rem;
  background: linear-gradient(0deg, #1845ad, #721cbd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 3.6rem;
  color: white;
}

h3 {
  font-size: 3rem;
  color: white;
}

h4{
  font-size: 2rem;
  color: white;
}

p {
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
}

@media(max-width: 1000px){
  html{
    font-size: 8px;
  }
}