/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

root {
  font-size: 10px;
}

/* Reset global */
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Saira", sans-serif;
}

.backgroundEffect  {
  min-width: 100%;
  background: rgb(12, 245, 116);
  background: linear-gradient(153deg, rgba(12, 245, 116, 1) 18%, rgba(123, 44, 191, 1) 69%);
}

.background{
  min-width: 100%;
  background-color: #222;
}
