/* Botão hambúrguer */
.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    cursor: pointer;
    z-index: 1000;
    color-scheme: light;
}

.menu-toggle span {
    background-color: #ffffff !important;
    height: 3px;
    border-radius: 2px;
    transition: 0.3s;
}

/* Animação X */
.rotate-down {
    transform: rotate(45deg) translate(5px, 5px);
}

.rotate-up {
    transform: rotate(-45deg) translate(6px, -6px);
}

.fade-out {
    opacity: 0;
}

#dashboard {
    width: 100%;
    padding: 10px 0;
    display: flex;
    background-color: #111;
    display: flex;
    justify-content: center;
}

.logo {
    height: 100px;
}

/* Container principal do menu */
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

/* Links centrais */
.menu-links {
    display: flex;
    justify-content: center;
    margin: 0;
    list-style: none;
    gap: 30px;
}

#login {
    display: flex;
    align-items: center;
}

/* Botões */
.button {
    text-decoration: none;
    padding: 10px 0px;
    margin: 0px 40px;
    border-radius: 20px;
    color: rgba(12, 245, 116, 1);
    font-weight: 700;
    font-size: 2rem;
    white-space: nowrap;
    transition: transform 0.4s ease;
}

#login {
    margin: 0;
}


.button:hover {
    color: rgba(123, 44, 191, 1);
}

/* responsividade */

@media (max-width: 1180px) {
    #dashboard {
        justify-content: center;
        margin-bottom: 20px;
        min-height: 60px;
        padding: 0;
        margin: 0 auto;
    }

    .menu {
        position: absolute;
        top: 0px;
        background: #222;
        width: 100%;
        z-index: 1100;
        display: none;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }

    .menu.active {
        display: flex;
    }

    .menu-links {
        padding: 0;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        text-align: left;
        width: 100%;
    }

    .menu-register {
        justify-content: center;
        /* margin-top: 10px; */
    }

    .menu-toggle {
        display: flex;
        z-index: 1500;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    #arrow {
        display: none;
    }

    #imgholder {
        justify-content: center;
    }
}