/* Dashboard */

/* Botão hambúrguer */
.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    cursor: pointer;
    z-index: 1000;
}

.menu-toggle span {
    background: white;
    height: 3px;
    border-radius: 2px;
    transition: 0.3s;
}

/* Animação X */
.rotate-down {
    transform: rotate(45deg) translate(5px, 5px);
}

.rotate-up {
    transform: rotate(-45deg) translate(6px, -6px);
}

.fade-out {
    opacity: 0;
}

#dashboard {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.logo {
    height: 100px;
}

/* Container principal do menu */
.menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}


/* Links centrais */
.menu-links {
    display: flex;
    flex: 2;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

/* Botão cadastre-se à direita */
.menu-register {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

#register {
    display: flex;
    align-items: center;
}

/* Botões */
.button {
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 20px;
    color: rgb(255, 231, 231);
    font-weight: 700;
    font-size: 1.4rem;
    white-space: nowrap;
    transition: transform 0.4s ease;
}

.button:hover {
    color: rgba(58, 12, 163, 1);
}

/* responsividade */

@media (max-width: 1000px) {
    #dashboard {
        justify-content: center;
        margin-bottom: 20px;
    }

    .menu {
        position: absolute;
        top: 0px;
        background: #222;
        width: 100%;
        z-index: 1100;
        display: none;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }

    .menu.active {
        display: flex;
    }

    .menu-links {
        padding: 0;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        text-align: left;
        width: 100%;
    }

    .menu-register {
        justify-content: center;
        /* margin-top: 10px; */
    }

    .menu-toggle {
        display: flex;
        z-index: 1500;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    #arrow{
        display: none;
    }

    #imgholder {
        justify-content: center;
    }
}