/* primeiro container de informações */

body {
    background-color: #333;
}

.container {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 80%;
    margin: 0 auto;
    justify-content: space-evenly;
}

/* div dos textos */
.text-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    text-align: center;
    padding: 20px;
}

/* titulo da pagina */
.text-content h1 {
    font-size: 10vmin;
    margin: 0;
    background: linear-gradient(0deg, #1845ad, #721cbd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* informações */
.text-content h2 {
    font-size: 5vmin;
    color: white;
    margin: 0;
}

/* botão saiba mais */
#find-more {
    text-align: center;
    text-decoration: none;
    font-size: 3vmin;
    font-weight: 600;
    color: white;
    padding: 15px 30px;
    background-color: rgba(123, 44, 191, 1);
    border: 2px solid rgba(123, 44, 191, 1);
    border-radius: 30px;
}

/* imagem lateral dos textos */
#image-home {
    height: 100vh;
}

/* fim do container  */

/* container imagem em alta */
.recomendation {
    position: relative;
    /* display: inline-block; */
    display: none;
    width: 80%;
    margin: 5% 10%;
}

/* formato da imagem */
#recomendation-img {
    border-radius: 10px;
    width: 100%;
    display: block;
}

/* texto do elemento recomendado */
.text_legend {
    color: white;
    font-size: 2vmin;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 0 0 10% 10%;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* ação de hover */
.recomendation:hover .text_legend {
    opacity: 1;
}

/* carrossel de imagens */
.container-carousel {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* div texto do carrosel de imagens */

.container-carousel {
    width: 80%;
    margin: 0 auto;
}

/* titulo do carrosel */
.text-carousel h2 {
    font-size: 9vmin;
    color: white;
}

/* texto secudanrio do carrosel */
.text-carousel h3 {
    font-size: 5vmin;
    color: white;
}

/* container por tras do controle */

/* titulo do container */
.text-control {
    padding: 1rem 0;
    width: 80%;
}

.text-control h2 {
    font-size: 9vmin;
    color: white;
}

.container-control {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* texto secundario */
.text-control h3 {
    font-size: 5vmin;
    color: white;
}

/* div dos criadores */
.creators {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 1.5rem auto;
    overflow: hidden;
    background-color: rgba(12, 245, 116, 1);
    border-radius: 10px;
}

/* imagem dos criadores */
.creators img {
    width: 100px;
    height: 100px;
}

/* div separando cada criador */
.ator {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.creators p {
    font-size: 1rem;
    font-weight: 700;
}


/* container inscreva-se */
.sub {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1rem 0;
}

/* formato dos dois blocos */
.user,
.new-creator {
    flex: 1 1 400px;
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
    align-items: center;
    text-align: center;
    gap: 30px;
    justify-content: space-between;
}

/* texto chamada */
.sub h2 {
    margin: 1rem 0;
    font-size: 7vmin;
    font-weight: 900;
}

/* texto explicativo */
.sub p {
    margin: 0;
    font-size: 4vmin;
    height: auto;
    font-weight: 600;
}

/* botão */
.sub a {
    text-align: center;
    text-decoration: none;
    font-size: 3vmin;
    font-weight: 600;
    color: white;
    padding: 1.5vmin 3vmin;
    border-radius: 30px;
    margin-bottom: 2rem;
}

/* div users */
.user {
    width: 50%;
    height: auto;
    color: black;
    background-color: rgba(12, 245, 116, 1);
    border-radius: 10px 0px 0px 10px;
}

/* div inscrição de programadores */
.new-creator {
    width: 50%;
    height: auto;
    color: white;
    background-color: rgba(123, 44, 191, 1);
    border-radius: 0px 10px 10px 0px;
}

/* botão user */
.user a {
    background-color: rgba(123, 44, 191, 1);
}

/* botão new creator */
.new-creator a {
    color: black;
    background-color: rgba(12, 245, 116, 1);
}

/* fim da página */

/* responsividade */
@media (max-width: 1000px) {

    /* ajuste topo da tela */
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        padding: 0px;
        box-sizing: border-box;
        text-align: center;
    }

    /* imagem do topo */
    .image-home {
        width: 80%;
    }

    #image-home {
        width: 100%;
        height: auto;
    }

    /* div subs */
    .sub {
        gap: 3vmin;
        width: 80%;
        margin: 0 auto;
    }

    /* ajuste das bordas */
    .user,
    .new-creator {
        border-radius: 10px;
    }

    .creators {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 1.5rem auto;
        background-color: rgba(12, 245, 116, 1);
        border-radius: 10px;
    }

}