/* primeiro container de informações */

.container {
    display: flex;
    align-items: center;      
    justify-content: center;
    width: 100%;               
    padding: 0 20px;            
    box-sizing: border-box;     
}

.text-content {
    width: 50%;
    text-align: center;         
    margin-right: 20px;         
}

.text-content h1 {
    font-size: 72px;
    color: rgba(58, 12, 163, 1);
}

.text-content h2 {
    font-size: 40px;
    color: white;
}

#find-more {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding: 15px 30px;
    background-color: rgba(123, 44, 191, 1);
    border: 2px solid rgba(123, 44, 191, 1);
    border-radius: 30px;
}

#find-more:hover {
    background-color: transparent;
    color: rgba(123, 44, 191, 1);
    border: none;
    font-size: 28px;
    font-weight: 800;
    transition: 1s ease;
}

#image-home{
    height: 900px;
}

/* fim do container  */

/* carrossel de imagens */
.carousel {
    display: flex;
    justify-self: center;
    width: 70%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

.carousel-track {
    display: flex;
    width: 300%;
    animation: slide 9s infinite;
}

.carousel img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

@keyframes slide {
    0%, 33% { transform: translateX(0); }
    36%, 66% { transform: translateX(-100%); }
    69%, 99% { transform: translateX(-200%); }
}

/* fim do carrosel */
