/* primeiro container de informações */
.container {
    display: flex;
    align-items: center;      
    justify-content: center;
    width: 100%;               
    padding: 0 20px;            
    box-sizing: border-box;     
}

/* div dos textos */
.text-content {
    width: 50%; 
    text-align: center;         
    margin-right: 40px; 
}

/* titulo da pagina */
.text-content h1 {
    font-size: 72px;
    color: rgba(58, 12, 163, 1);
}

/* informações */
.text-content h2 {
    font-size: 40px;
    color: white;
}

/* botão saiba mais */
#find-more {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding: 15px 30px;
    background-color: rgba(123, 44, 191, 1);
    border: 2px solid rgba(123, 44, 191, 1);
    border-radius: 30px;
}

/* imagem lateral dos textos */
#image-home{
    height: 900px;
}

/* fim do container  */

/* container imagem em alta */
.recomendation {
    position: relative;
    display: inline-block;
    width: 80%;
    margin: 5% 10%;
}

#recomendation-img {
    border-radius: 10px;
    width: 100%;
    display: block;
}

.text_recomend {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    border-radius: 0 0 10% 10%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.recomendation:hover .text_recomend {
    opacity: 1;
}

/* carrossel de imagens */
.container-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* div texto do carrosel de imagens */
.text-carousel {
    width: 75%;
}

/* titulo do carrosel */
.text-carousel h2 {
    font-size: 60px;
    color: white;
}

/* texto secudanrio do carrosel */
.text-carousel h3 {
    font-size: 36px;
    color: white;
}

/* formato e tamanho do carrosel */
.carousel {
    width: 70%;
    height: 600px;
    overflow:hidden;
    border-radius: 10px;
}

/* imagens do carrosel */
.carousel img {
    width: 100%; 
    height: 100%;
    object-fit: contain; 
}

/* animação do carrossel */
.carousel-track {
    display: flex;
    width: 100%;
    animation: slide 9s infinite;
}
/* efeito da animação */
@keyframes slide {
    0%, 33% { transform: translateX(0); }
    36%, 66% { transform: translateX(-100%); }
    69%, 99% { transform: translateX(-200%); }
}

/* fim do carrossel */

/* container por tras do controle */
.container-control{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* titulo do container */
.text-control h2 {
    font-size: 50px;
    color: white;   
}
/* texto secundario */
.text-control h3 {
    font-size: 34px;
    color: white;
}
/* div dos criadores */
.creators{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    overflow: hidden;
    background-color: rgba(12,245,116,1);
}
/* imagem dos criadores */
.creators img{
    margin-top: 10%;
    width: 100px;
    height: 100px;
}
/* div separando cada criador */
.ator{
    width: 30%;
}

/* container inscreva-se */
.sub{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
/* containes de inscrição de usuarios */
.user{
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgba(12,245,116,1);
    margin-top: 5%;
    width: 40%;
    height: 500px;
    overflow: hidden;
    border-radius: 20px 0px 0px 20px;
}
/* texto chamada */
.user h2 {
    width: 80%;
    font-size: 50px;
    color: white;   
}
/* texto explicativo */
.user p {
    width: 80%;
    font-size: 24px;
    color: white;
}
/* botão */
.user a{
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding: 15px 30px;
    background-color: rgba(123, 44, 191, 1);
    border: 2px solid rgba(123, 44, 191, 1);
    border-radius: 30px;
    margin-bottom: 20px;
}
/* div inscrição de programadores */
.new-creator{
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgba(123, 44, 191, 1);
    margin-top: 5%;
    width: 40%;
    overflow: hidden;
    height: 500px;
    border-radius: 0px 20px 20px 0px;
}
/* texto chamada */
.new-creator h2 {
    width: 80%;
    font-size: 50px;
    color: white;   
}
/* texto explicativo */
.new-creator p{
    width: 80%;
    font-size: 24px;
    color: white;
}
/* botão */
.new-creator a{
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding: 15px 30px;
    background-color: rgba(12,245,116,1);
    border: 2px solid rgba(12,245,116,1);
    border-radius: 30px;
    margin-bottom: 20px;
}

/* fim da página */