/* primeiro container de informações */
.container {
    display: flex;
    align-items: center;      
    justify-content: center;
    width: 100%;               
    padding: 0 20px;            
    box-sizing: border-box;     
}

.text-content {
    width: 50%; 
    text-align: center;         
    margin-right: 40px;         
}

.text-content h1 {
    font-size: 72px;
    color: rgba(58, 12, 163, 1);
}

.text-content h2 {
    font-size: 40px;
    color: white;
}

#find-more {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding: 15px 30px;
    background-color: rgba(123, 44, 191, 1);
    border: 2px solid rgba(123, 44, 191, 1);
    border-radius: 30px;
}

/* #find-more:hover {
    background-color: transparent;
    color: rgba(123, 44, 191, 1);
    border: none;
    font-size: 28px;
    font-weight: 800;
    transition: 1s ease;
} */

#image-home{
    height: 900px;
}

/* fim do container  */

/* container imagem recomendado */
.recomendation{
    display: flex;
    width: 70%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: center;
    align-items: center;
}

#recomendation-img{
    border-radius: 10px;
    width: 100%;
}

/* carrossel de imagens */
.container-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-carousel {
    width: 75%;
}

.text-carousel h2 {
    font-size: 60px;
    color: white;
}

.text-carousel h3 {
    font-size: 36px;
    color: white;
}

.carousel {
    width: 70%;
    height: 600px;
    overflow:hidden;
    border-radius: 10px;
}

.carousel-track {
    display: flex;
    width: 100%;
    animation: slide 9s infinite;
}

.carousel img {
    width: 100%; 
    height: 100%;
    object-fit: contain; 
}

@keyframes slide {
    0%, 33% { transform: translateX(0); }
    36%, 66% { transform: translateX(-100%); }
    69%, 99% { transform: translateX(-200%); }
}

/* fim do carrossel */

/* container por tras do controle */

.container-control{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-carousel {
    width: 75%;
}

.text-control h2 {
    font-size: 50px;
    color: white;   
}

.text-control h3 {
    font-size: 34px;
    color: white;
}

.creators{
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    width: 100%;
    height: 500px;
    background-color: rgba(12,245,116,1);
}

.creators img{
    margin-top: 10%;
    width: 100px;
    height: 100px;
}

.ator{
    width: 30%;
}

/* container inscreva-se */

.sub{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user{
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgba(12,245,116,1);
    margin-top: 5%;
    width: 40%;
    height: 500px;
}

.user h2 {
    width: 80%;
    font-size: 50px;
    color: white;   
}

.user h3 {
    width: 80%;
    font-size: 24px;
    color: white;
}

.user a{
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding: 15px 30px;
    background-color: rgba(123, 44, 191, 1);
    border: 2px solid rgba(123, 44, 191, 1);
    border-radius: 30px;
    margin-bottom: 20px;
}

.new-creator{
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgba(123, 44, 191, 1);
    margin-top: 5%;
    width: 40%;
    height: 500px;
}

.new-creator h2 {
    width: 80%;
    font-size: 50px;
    color: white;   
}

.new-creator h3{
    width: 80%;
    font-size: 24px;
    color: white;
}

.new-creator a{
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding: 15px 30px;
    background-color: rgba(12,245,116,1);
    border: 2px solid: rgba(12,245,116,1);
    border-radius: 30px;
    margin-bottom: 20px;
}
