@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');


* {
    font-size: 15px;
}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 60px;
  padding: 20px;
}

.login-image img {
  max-width: 400px;
  width: 100%;
  height: auto;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
}

.login-image img:hover {
  transform: scale(1.05);
}

.login-card .card {
  background-color: #8120a1;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 400px;
}

.right-align-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    padding-right: 5vw; /* Espaço da borda direita */
}


#back {
    padding: 2rem;
    background-color:rgb(255, 255, 255, 20%);
    box-shadow: 20px 20px 30px 10px rgb(0, 0, 0, 50%);
}

#cont {
    background-color: rgba(123, 44, 191, 1);
}

#title {
    background: linear-gradient(90deg, rgba(67, 234, 128, 1), rgba(8, 248, 212, 1));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
.login-layout {
    display: flex;
    align-items: center;
    gap: 40px;
    max-width: 1200px;
    width: 100%;
    box-sizing: border-box;
    justify-content: center; /* centraliza tudo horizontalmente */
}

.login-image img {
    max-width: 400px;
    width: 100%;
    height: auto;
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
    margin-left: -60px; /* puxa a imagem 20px pra esquerda */
}
button img{
    height: 1.2rem;
    padding-right: 1.3rem;
}

/* cores fora do Bootstrap */

input[type="email"] {
    background-color: rgba(12, 245, 116, 1)
}

input[type="password"] {
    background-color: rgba(12, 245, 116, 1)
}

button[type="submit"] {
    background-color: rgba(12, 245, 116, 1)
}

.forgot,
.sing-up {
    color: #0CF574;
}