/* Ajusta todo o container da pagina */

/* verde = #43EA80 */
/* roxo = #7b2cbf */

.container{
    margin: 0 auto;
    height: 100vh;
    display: flex;
    align-items: center;
}

/* ajusta o formulario */
form{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #7b2cbf;
    padding: 0 30px;
    gap: 10px;
    border-radius: 20px;
}

/* ajusta o titulo "VOLPE" */
h1{
    margin: 0 auto;
    font-size: 7vmin;
    text-align: center;
    color: #43EA80;
}

#buttonGoogle{
    display: none;
    background-color: #43EA80; 
    border-radius: 20px;
    padding: 5px;
    font-weight: 700;
}

#text_email{
    color: white;
    text-align: center;
}

.labelForm label{
    color: white;
}

.labelForm input{
    width: 100%;
    background-color: #43EA80;
    padding:5px 0;
    border-radius: 20px;
}





