/* container de conteúdo da página*/
.context{
    width: 40%;
    align-items: center;
    text-align: center;
    margin-left: 5%;
}

/* div que centraliza os itens lado a lado */
.content_register{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

/* titulo da pagina */
.context h1{
    font-size: 64px;
    color: white;
}

/* texto de informações */
.context h2{
    font-size: 48px;
    color: white;
}

/* container formulário */
#form-register{
    margin-left: 10%;
    width: 40%;
    height: 100%;
    background-color: rgba(12, 245, 116, 1);
    border-radius: 5%;
    font-size: 30px;
    font-weight: 600;
}

/* titulo do form */
#form-register h2{
    text-align: center;
    font-size: 33px;
}

/* info do form */
#form-register h3{
    text-align: center;
    font-size: 25px;
}

/* nome do campo do form */
label{
    margin-left: 5%;
}

/* entrada de texto */
input {
    font-size: 24px;
    margin-left: 5%;
    background-color: transparent;
    text-decoration:underline;
    width: 80%;
    padding: 10px 5px 5px;
    border: none;
    outline: none;
    border-radius: 15px;
}

/* botão de enviar */
#button_submit{
    margin-left: 10%;
    margin-top: 5%;
    background-color: rgba(123,44,191,1);
    width: 80%;
    font-size: 25px;
    cursor: pointer;
    color: white;
    border-radius: 10px;
}

/* informações de contato */
#additional h3{
    color: white;
    font-size: 25px;
}


