/* container de conteúdo da página*/

#register {
    display: none;
}

.context {
    width: 100%;
    padding: 0 1.5rem;
    align-items: center;
    text-align: center;
}

/* div que centraliza os itens lado a lado */
.content_register {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

/* titulo da pagina */
.context h1 {
    font-size: 10vmin;
    color: white;
}

/* texto de informações */
.context h2 {
    font-size: 8vmin;
    color: white;
}

/* container formulário */
#form-register {
    width: 60%;
    height: 100%;
    background-color: rgba(12, 245, 116, 1);
    border-radius: 5vmin;
}

/* titulo do form */
#form-register h2 {
    padding: 0 1.5rem;
    font-size: 6vmin;
    margin-bottom: 0;
    text-align: center;
}

/* info do form */
#form-register h3 {
    margin-top: 0;
    padding: 0 1.5rem;
    font-size: 3.5vmin;
    text-align: center;
}

/* nome do campo do form */
label {
    font-size: 3vmin;
    padding: 2rem 1.5rem;
    font-weight: 700;
}

/* entrada de texto */
input {
    padding: 1.5rem;
    padding-bottom: 0;
    font-size: 2.8vmin;
    font-weight: 600;
    background-color: transparent;
    /* text-decoration: underline; */
    width: 80%;
    border: none;
    outline: none;
}

hr{
    border: none;
    height: 1.5px;
    margin: 0rem 1.5rem 1.5rem 1.5rem;
    background-color: grey;
}

/* botão de enviar */
#button_submit {
    margin-left: 10%;
    padding: 1 1.5rem;
    background-color: rgba(123, 44, 191, 1);
    width: 80%;
    font-size: 4vmin;
    cursor: pointer;
    color: white;
    border-radius: 6vmin;
}

/* informações de contato */
#additional h3 {
    font-size: 3.5vmin;
    color: black;
    font-weight: 600;
}

@media(max-width:1000px) {
    .content_register {
        display: flex;
        flex-direction: column;
    }

    #form-register {
        width: 80%;
    }
}