<link rel="stylesheet" href="/assets/css/header.css">
<header id="dashboard">
    <div class="menu-toggle" id="menu-toggle">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <nav class="menu" id="menu">
        <div id="imgholder">
            <img class="logo" src="../assets/icons/logo 2.png" alt="Volpe">
        </div>
        <ul class="menu-links">
            <li><a class="button" href="/index.html">Home</a></li>
            <li><a class="button" href="/pages/games.html">Jogos</a></li>
            <li><a class="button" href="/pages/news.html">Noticias</a></li>
            <!-- <li><a class="button" href="/pages/games.html">Noticias</a></li> -->
            <li><a class="button" href="/pages/about.html">Sobre Nós</a></li>
        </ul>
        <div class="menu-login">
            <a class="button" id="login" href="/pages/login.html">
                <img id="arrow" src="../assets/icons/seta.png" alt="onearrow" />Login
            </a>
        </div>
    </nav>
</header>
</div>
<!-- </div> -->